[% USE raw %]
[% USE To %]
[% USE Asset %]
[% USE KohaDates %]
[% USE TablesSettings %]
[% PROCESS 'i18n.inc' %]
[% SET footerjs = 1 %]
[% PROCESS 'patron-search.inc' %]
[% INCLUDE 'doc-head-open.inc' %]
<title
    >[% FILTER collapse %]
        [% t("Acquisitions") | html %]
        &rsaquo; [% t("Koha") | html %]
    [% END %]</title
>
[% INCLUDE 'doc-head-close.inc' %]
</head>

<body id="acq_acquisitions" class="acq">
[% WRAPPER 'header.inc' %]
    [% INCLUDE 'acquisitions-search.inc' %]
[% END %]

<div id="__acquisitions"></div>

[% MACRO jsinclude BLOCK %]
    [% Asset.js("js/cataloging.js") | $raw %]
    [% INCLUDE 'calendar.inc' %]
    [% INCLUDE 'datatables.inc' %]
    [% INCLUDE 'js-patron-format.inc' %]
    [% INCLUDE 'js-date-format.inc' %]
    [% INCLUDE 'format_price.inc' %]
    <script>
        const logged_in_user = [% To.json(logged_in_user.unblessed) | $raw %];
        const logged_in_branch = [% To.json(logged_in_branch) | $raw %];
        const userflags = [% To.json(userflags) | $raw %];
        // const library_groups = [% To.json(library_groups) | $raw %];
        const currencyList = [% To.json(currencies) | $raw %];
        const permitted_patrons = [% To.json(permitted_patrons) | $raw %];
    </script>
    [% Asset.js("js/vue/dist/acquisitions/acquisitions.js") | $raw %]
    [% INCLUDE 'select2.inc' %]
    [% SET columns = ['cardnumber','name','category','branch','action'] %]
    [% SET filter = "fund_management_users" %]
    [% PROCESS patron_search_modal columns => columns, modal_title => t("Select user") %]
    [% PROCESS patron_search_js columns => columns, actions => ["select"], preview_on_name_click => 1 %]
[% END %]
[% INCLUDE 'intranet-bottom.inc' %]
