[% USE raw %]
[% USE To %]
[% USE Asset %]
[% USE KohaDates %]
[% USE TablesSettings %]
[% PROCESS 'i18n.inc' %]
[% SET footerjs = 1 %]
[% PROCESS 'patron-search.inc' %]
[% INCLUDE 'doc-head-open.inc' %]
<title
    >[% FILTER collapse %]
        [% t("Acquisitions") | html %]
        &rsaquo; [% t("Koha") | html %]
    [% END %]</title
>
[% INCLUDE 'doc-head-close.inc' %]
</head>

<body id="acq_acquisitions" class="acq">
[% WRAPPER 'header.inc' %]
    [% INCLUDE 'acquisitions-search.inc' %]
[% END %]

<div id="acquisitions"></div>

[% MACRO jsinclude BLOCK %]
    [% Asset.js("js/cataloging.js") | $raw %]
    [% Asset.js("js/additem.js") | $raw %]
    [% INCLUDE 'calendar.inc' %]
    [% INCLUDE 'datatables.inc' %]
    [% INCLUDE 'js-patron-format.inc' %]
    [% INCLUDE 'js-date-format.inc' %]
    [% INCLUDE 'format_price.inc' %]
    <script>
        const logged_in_user = [% To.json(logged_in_user.unblessed) | $raw %];
            const logged_in_branch = [% To.json(logged_in_branch) | $raw %];
            const userflags = [% To.json(userflags) | $raw %];
            // const library_groups = [% To.json(library_groups) | $raw %];
            const currencyList = [% To.json(currencies) | $raw %];
            const permitted_patrons = [% To.json(permitted_patrons) | $raw %];

        function add_user(borrowernumber, borrowername, fieldName) {
            var ids = $(`#${fieldName}_users_ids`).val();
            if(ids.length > 0) {
                ids = ids.split(':');
            } else {
                ids = new Array;
            }
            if (ids.indexOf(borrowernumber.toString()) < 0) {
                ids.push(borrowernumber);
                $(`#${fieldName}_users_ids`).val(ids.join(':'));
                var li = '<li id="'+fieldName+'_user_'+borrowernumber+'">'+borrowername
                    + ' <i class="fa fa-trash" style="cursor:pointer;" onclick="del_user('+borrowernumber+', '+'\''+fieldName+'\''+');"></i></li>';
                $(`#${fieldName}_users_names`).append(li);
                return 0;
            }
            return -1;
        }
        function del_user(borrowernumber, fieldName) {
            $("#"+fieldName+"_user_"+borrowernumber).remove();
            var ids = $(`#${fieldName}_users_ids`).val().split(':');
            ids.splice(ids.indexOf(borrowernumber.toString()), 1);
            $(`#${fieldName}_users_ids`).val(ids.join(':'));
        }
    </script>
    [% Asset.js("js/vue/dist/acquisitions/acquisitions.js") | $raw %]
    [% INCLUDE 'select2.inc' %]
    [% SET columns = ['cardnumber','name','category','branch','action'] %]
    [% PROCESS patron_search_modal columns => columns, modal_title => t("Select user") %]
    [% PROCESS patron_search_js columns => columns, preview_on_name_click => 1 %]
[% END %]
[% INCLUDE 'intranet-bottom.inc' %]
