[% USE raw %]
[% USE To %]
[% USE Asset %]
[% USE KohaDates %]
[% USE TablesSettings %]
[% PROCESS 'i18n.inc' %]
[% SET footerjs = 1 %]
[% PROCESS 'modal-claims.inc' %]
[% INCLUDE 'doc-head-open.inc' %]
<title
    >[% FILTER collapse %]
        [% t("Overdues") | html %]
    [% END %]</title
>
[% INCLUDE 'doc-head-close.inc' %]
</head>

<body id="circulation_overdues">
[% WRAPPER 'header.inc' %]
    [% INCLUDE 'circ-search.inc' %]
[% END %]

<div id="overdues"></div>

[% MACRO jsinclude BLOCK %]
    [% INCLUDE 'calendar.inc' %]
    [% INCLUDE 'datatables.inc' %]
    [% INCLUDE 'js-date-format.inc' %]
    [% INCLUDE 'format_price.inc' %]
    <script nonce="[% Koha.CSPNonce | $raw %]">
        const patronAttrs = [% To.json(patron_attrs.unblessed) | $raw %];
        const table_settings = [% TablesSettings.GetTableSettings( 'circ', 'overdues', 'circ-overdues', 'json' ) | $raw %];
        const branch_table_settings = [% TablesSettings.GetTableSettings( 'circ', 'overdues', 'circ-branch-overdues', 'json' ) | $raw %];
        [% IF !Koha.Preference('ClaimReturnedLostValue') %]
            table_settings['columns'].splice(14, 1);
        [% END %]
    </script>
    [% Asset.js("js/vue/dist/circulation/overdues.js") | $raw %]
    [% INCLUDE 'select2.inc' %]
    [% PROCESS 'modal-claims-display' %]
    [% PROCESS 'modal-claims-js' %]
[% END %]
[% INCLUDE 'intranet-bottom.inc' %]
