[% USE raw %]
[% USE Koha %]
[% USE Asset %]
[% USE KohaDates %]
[% PROCESS 'i18n.inc' %]
[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]
<title>[% FILTER collapse %]
    [% t("Restore records") | html %]
    &rsaquo; [% t("Tools") | html %] &rsaquo; [% t("Koha") | html %]
[% END %]</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body id="tools_restore_records" class="tools">
[% WRAPPER 'header.inc' %]
    [% INCLUDE 'cat-search.inc' %]
[% END %]

[% WRAPPER 'sub-header.inc' %]
    [% WRAPPER breadcrumbs %]
        [% WRAPPER breadcrumb_item %]
            <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a>
        [% END %]
        [% WRAPPER breadcrumb_item bc_active= 1 %]
            <span>Restore records</span>
        [% END %]
    [% END #/ WRAPPER breadcrumbs %]
[% END #/ WRAPPER sub-header.inc %]

[% WRAPPER 'main-container.inc' aside='tools-menu' %]
    <h1>Restore records</h1>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Restore bibliographic records</h3>
                </div>
                <div class="panel-body">
                    <table id="biblio_table" class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Deleted date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Restore items</h3>
                </div>
                <div class="panel-body">
                    <table id="item_table" class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Barcode</th>
                                <th>Title</th>
                                <th>Deleted date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
[% END %]

[% MACRO jsinclude BLOCK %]
    [% INCLUDE 'js_includes.inc' %]
    [% INCLUDE 'datatables.inc' %]
    [% Asset.js("js/restore_records.js") | $raw %]
    <script>
        $(document).ready(function() {
            console.log('Document ready');
            console.log('jQuery version:', $.fn.jquery);
            console.log('DataTables version:', $.fn.dataTable.version);
            console.log('jQuery plugins:', Object.keys($.fn));
            
            if (typeof $.fn.kohaTable === 'undefined') {
                console.error('kohaTable function is not available');
                return;
            }
            
            // Initialize tables
            $("#biblio_table").kohaTable({
                "ajax": {
                    "url": "/api/v1/deleted/biblios",
                    "headers": {
                        "Accept": "application/json;charset=UTF-8"
                    },
                    "data": function(d) {
                        return {
                            _page: (d.start / d.length) + 1,
                            _per_page: d.length,
                            _order_by: d.order ? d.order.map(function(order) {
                                return d.columns[order.column].data + " " + order.dir;
                            }) : []
                        };
                    },
                    "beforeSend": function(xhr) {
                        xhr.setRequestHeader("Accept", "application/json;charset=UTF-8");
                    }
                },
                "columns": [
                    { "data": "biblio_id" },
                    { "data": "title" },
                    { "data": "author" },
                    { "data": "deleted_date" },
                    { 
                        "data": null,
                        "orderable": false,
                        "render": function(data, type, row) {
                            return '<button class="btn btn-default btn-sm restore-biblio" data-biblionumber="' + row.biblio_id + '">Restore</button>';
                        }
                    }
                ],
                "order": [[ 0, "desc" ]],
                "language": {
                    "emptyTable": "No deleted bibliographic records found"
                },
                "dom": '<"top"<"table_entries"><"table_controls"fB>>t<"bottom"<"table_entries"i><"table_controls"p>>',
                "buttons": ['clearFilter', 'copy', 'csv', 'print']
            });

            $("#item_table").kohaTable({
                "ajax": {
                    "url": "/api/v1/deleted/items"
                },
                "columns": [
                    { "data": "item_id" },
                    { "data": "barcode" },
                    { "data": "title" },
                    { "data": "deleted_date" },
                    { 
                        "data": null,
                        "orderable": false,
                        "render": function(data, type, row) {
                            return '<button class="btn btn-default btn-sm restore-item" data-itemnumber="' + row.item_id + '">Restore</button>';
                        }
                    }
                ]
            });
        });
    </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' %] 