[% USE raw %]
[% USE Asset %]
[% USE To %]
[% PROCESS 'i18n.inc' %]
[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]
<title
    >[% FILTER collapse %]
        [% t("Identity providers") | html %]
        &rsaquo; [% t("Administration") | html %] &rsaquo; [% t("Koha") | html %]
    [% END %]
</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>

<body id="admin_identity_providers" class="admin">
[% WRAPPER 'header.inc' %]
    [% INCLUDE 'prefs-admin-search.inc' %]
[% END %]

[% WRAPPER 'sub-header.inc' %]
    <div id="vue-breadcrumbs-container"></div>
[% END #/ WRAPPER sub-header.inc %]

[% WRAPPER 'main-container.inc' aside='admin-menu' %]
    <div id="identity-providers"></div>
[% END #/ WRAPPER main-container.inc %]

[% MACRO jsinclude BLOCK %]
    [% INCLUDE 'calendar.inc' %]
    [% INCLUDE 'datatables.inc' %]
    [% Asset.js("js/admin-menu.js") | $raw %]
    <script nonce="[% Koha.CSPNonce | $raw %]">
        const logged_in_user = [% To.json(logged_in_user.unblessed) | $raw %];
        window.borrower_columns = [% To.json(borrower_columns) | $raw %];
        window.libraries_map = [% To.json(libraries_map) | $raw %];
        window.categories_map = [% To.json(categories_map) | $raw %];
        window.idp_default_hostnames = [% To.json(idp_default_hostnames) | $raw %];
        window.unique_patron_attributes = [% To.json(unique_patron_attributes) || '[]' | $raw %];
        window.all_patron_attributes = [% To.json(all_patron_attributes) || '[]' | $raw %];
    </script>
    [% Asset.js("js/vue/dist/admin/identity_providers.js") | $raw %]
[% END %]
[% INCLUDE 'intranet-bottom.inc' %]
